@charset "utf-8";

/* default */
html {font-size:10px}
html, body{width:100%;height:100%;}
body{font-family:'SUIT', 'Malgun Gothic', AppleGothicNeoSD, 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', Dotum, 돋움, 굴림, arial, sans-serif;font-size:1.3rem;line-height:1.5;letter-spacing:-0.03em;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;-moz-osx-font-smoothing:grayscale;overflow-y:auto;-webkit-overflow-scrolling:touch;overflow-x:hidden;}
body:before{content:'';position:fixed;left:0;top:0;width:100%;height:0;}/* fix webkit bug(scroll event delay) */
body, div, h1, h2, h3, h4, h5, h6, form, fieldset, p, button, iframe, tr, tbody, thead, table, th, td, b, span, strong, label{margin:0;padding:0;box-sizing:border-box;}
dl, dt, dd, ul, ol, li{box-sizing:border-box;list-style:none;padding:0;margin:0;}
h1, h2, h3, h4, h5, h6, dt{font-weight:normal;}
img, fieldset, iframe, button{border:0 none;}
table{/*border-collapse:collapse;*/ border-spacing:0;}
th, td{/*border-collapse:collapse;*/}
legend, caption{height:0;overflow:hidden;opacity:0;}
hr{border:0;border-top:1px solid #ccc;margin:40px 0}
em, u, cite, i, abbr{font-style:normal;text-decoration:none;}
strong, b{font-weight:normal;}
a{color:rgb(16, 79, 252);outline-offset:1px;box-sizing:border-box;}
button{border:0 none;font-family:'SUIT','sans-serif';cursor:pointer;background:transparent;box-sizing:border-box;color:#666}
input, textarea, select, button{box-sizing:border-box;font-family:'SUIT', 'Malgun Gothic', AppleGothicNeoSD, 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', Dotum, 돋움, 굴림, arial, sans-serif;font-size:13px;}
article, aside, details, figcaption, figure, footer, header, main, hgroup, nav, section, summary{display:block;margin:0;padding:0;box-sizing:border-box;}
.hidden{position:absolute !important;width:0 !important;height:0 !important;z-index:-1 !important;color:transparent !important;overflow:hidden !important;font-size:xx-small !important;line-height:0 !important;min-height:0 !important;max-height:0 !important;}
.ui-widget{font-family:'SUIT', 'Malgun Gothic', AppleGothicNeoSD, 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', Dotum, 돋움, 굴림, arial, sans-serif;}
textarea {resize:none}
a, button{color:blue}
* {box-sizing:border-box}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{font-family:'SUIT', 'Malgun Gothic', AppleGothicNeoSD, 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', Dotum, 돋움, 굴림, arial, sans-serif;font-size:13px;}
/* 컬러 변수 */
:root {
    --Gradient-Blue:#4369f6;
    --Gradient-Purple:#9967f3;
    --Gradient-Pink:#EB5C8D;
    --Gradient-Sky:#5AB3F8;
    --Gradient-Sky-Blue:#6471F6;
    --Typo-Point:#98FFFF;
    --Text-Blue:#4234E9;

    --gap:.8rem;

    --gray_100:#000;
    --gray_95:#222;
    --gray_90:#444;
    --gray_80:#666;
    --gray_70:#777;
    --gray_60:#999;
    --gray_50:#ccc;
    --gray_40:#d7d7d7;
    --gray_30:#e5e5e5;
    --gray_20:#eee;
    --gray_10:#f7f7f7;
    --gray_0:#fff;
}

/* layout */
.max-w-960 {max-width:96rem;margin-left:auto;margin-right:auto}

.max-w-128 {max-width:128rem;margin-left:auto;margin-right:auto}
.max-w-50 {max-width:50.4rem;margin-left:auto;margin-right:auto}
.page-content {padding-top:8.8rem;padding-bottom:14rem;}
@media (max-width:1280px) {
    .max-w-128 {padding:0 2rem}
}
@media (max-width:700px) {
    .max-w-128 {padding:0 1.6rem}
    .page-content {padding-top:11.2rem;padding-bottom:10rem;}
}
@media (max-width:540px) {
    .max-w-50 {padding-left:1.6rem;padding-right:1.6rem;}
    .max-w-128 .max-w-50 {padding-left:0;padding-right:0;}
}
/* ETC */
html.scroll_off {overflow:hidden}
.for-a11y {position:absolute;width:1px;height:1px;margin:-1px;padding:0;border:0;clip:rect(0 0 0 0);overflow:hidden;text-indent:-99em}
.link-full {position:absolute;top:0;left:0;right:0;bottom:0}
.thumb-images-full {width:100%;height:100%;object-fit:cover}
.thumb-images-bg {width:140%;height:140%;object-fit:cover;filter:blur(1rem)}
.clamp-base {display:-webkit-box;-webkit-box-orient:vertical;text-overflow:ellipsis;overflow:hidden}
.text-center {text-align:center}
.font-600 {font-weight:600}
/* scrollbar */
.scrollbar-8 {overflow-y:auto;-webkit-overflow-scrolling:touch}
.scrollbar-8::-webkit-scrollbar {height:.8rem;width:.8rem;}
.scrollbar-8::-webkit-scrollbar-track {border-radius:999em;background-color:transparent}
.scrollbar-8::-webkit-scrollbar-thumb {width:.8rem;border-radius:999em;background-color:#D9D9D9;}
.scrollbar-4 {-webkit-overflow-scrolling:touch}
.scrollbar-4::-webkit-scrollbar {height:.4rem;width:.4rem;}
.scrollbar-4::-webkit-scrollbar-track {border-radius:999em;background-color:transparent}
.scrollbar-4::-webkit-scrollbar-thumb {width:.4rem;border-radius:999em;background-color:#D9D9D9;}
/* title */
.title-size-40 {font-size:4rem;line-height:5.6rem;font-weight:900;color:#000}
.title-size-40-700 {font-size:4rem;line-height:4.8rem;font-weight:700;color:#111}
.title-size-28 {font-size:2.8rem;line-height:3.2rem;font-weight:600;color:#111;letter-spacing:-.05rem}
.title-size-28-w {font-size:2.8rem;line-height:3.6rem;font-weight:900;color:#fff;letter-spacing:-.05rem}
.title-size-24 {font-size:2.4rem;line-height:5.6rem;font-weight:700;color:#000}
.title-desc-size-24 {font-size:2.4rem;line-height:2.4rem;font-weight:800;color:#000}
.title-desc-size-20 {font-size:2rem;line-height:3rem;font-weight:300;color:#111}
.text-desc-size-24 {font-size:2.4rem;line-height:3.2rem;color:#000;font-weight:700;word-break:keep-all}
.text-desc-size-16 {font-size:1.6rem;line-height:2.4rem;font-weight:400;color:#000;word-break:keep-all}
.title-color-blue {color:#4369F6 !important;}
@media (max-width:1024px) {
    .text-desc-size-24 {font-size:2rem;line-height:2.4rem;}
    .text-desc-size-16 {font-size:1.4rem;line-height:2.2rem;}
}
@media (max-width:700px) {
    .title-size-40 {font-size:2.4rem;line-height:2.8rem}
    .title-size-40-700 {font-size:3.2rem;}
    .title-size-28-w {font-size:2.4rem;line-height:2.8rem;}
    .title-size-24 {font-size:2rem;font-weight:800;line-height:2.8rem}
    .title-desc-size-24 {font-size:1.6rem;line-height:2.8rem;font-weight:900}
    .title-desc-size-20 {font-size:1.6rem;}
}
/* input textarea */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {color:#949494}
input:-moz-placeholder,
textarea:-moz-placeholder {color:#949494;opacity:1}
input::-moz-placeholder,
textarea::-moz-placeholder {color:#949494;opacity:1}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {line-height:1.8rem}
textarea::-webkit-input-placeholder {line-height:1.8rem}
textarea:-moz-placeholder {line-height:1.8rem}
textarea:-ms-input-placeholder {line-height:1.8rem}
input::-webkit-input-placeholder {color:#949494}
input::-moz-placeholder {color:#949494}
input:-ms-input-placeholder {color:#949494}
input:-moz-placeholder {color:#949494}

.input-size-50-w {height:5rem;border-radius:.8rem;padding:0 2rem;border:none;background-color:#fff;outline:none;font-size:1.6rem;color:#000;font-weight:400}
.input-size-64-g {height:6.4rem;border-radius:1.2rem;border:none;background-color:#F4F4F4;outline:none;font-size:1.6rem;color:#000;font-weight:400}
.input-size-42-g {height:4.2rem;border-radius:.8rem;border:none;background-color:#F4F4F4;outline:none;font-size:1.4rem;color:#000;font-weight:400;padding:0 1.2rem;}
.input-size-48-transparent {height:4.8rem;font-size:1.8rem;font-weight:300;color:#000;background-color:transparent;border:none;outline:none;padding-right:.4rem}
.input-size-24-transparent {height:2.4rem;font-size:1.6rem;font-weight:300;color:#000;background-color:transparent;border:none;outline:none}
.input-size-16-transparent {height:1.6rem;font-size:1.2rem;font-weight:400;color:#000;background-color:transparent;border:none;outline:none}
textarea.input-size-48-transparent {font-size:1.6rem;}
.textarea-w {border-radius:.8rem;padding:1.2rem 2rem;border:none;background-color:#fff;outline:none;font-size:1.6rem;color:#000;font-weight:400}
@media (max-width:700px) {
    .input-size-48-transparent {font-size:1.6rem;}
}
/* select */
select {display:inline-block;position:relative;background-color:transparent;appearance:none;-moz-appearance:none;-webkit-appearance:none;cursor:pointer;outline:none;vertical-align:middle;}
select::-ms-expand {display:none}
.select-item-box {position:relative;background:#fff url(../images/common/select-bullet.svg) no-repeat calc(100% - 2rem) 50%;overflow:hidden}
.select-item-box select {height:100%;width:100%;padding:0 4rem 0 2rem;border:none}
.select-size-58 {height:5.8rem;border-radius:.8rem}
.select-size-58 select {font-size:1.6rem;font-weight:400;border-radius:.8rem}
/* box-checkbox */
.box-checkbox-a {position:relative;display:inline-block;cursor:pointer}
.box-checkbox-a label {position:relative;display:inline-block;font-size:1.6rem;color:#111;word-break:keep-all;font-weight:600;cursor:pointer}
.box-checkbox-a .form-checkbox {position:absolute;left:0;top:0;opacity:0}
.box-checkbox-a label:before {content:'';position:absolute;left:0;top:0;background-repeat:no-repeat;background-position:50% 50%;background-size:contain}
.box-checkbox-size-16 {min-height:1.6rem;min-width:1.6rem;}
.box-checkbox-size-16 label {padding-left:2.2rem;line-height:1.6rem;min-height:1.6rem;font-size:1.2rem;}
.box-checkbox-size-16 label:empty {padding-left:0;vertical-align:top;}
.box-checkbox-size-16 label:before {width:1.6rem;height:1.6rem;background-image:url("../images/common/checkbox-2.svg")}
.box-checkbox-size-16 input[type="checkbox"]:checked+label:before {background-image:url("../images/common/checkbox-2-on.svg")}
.box-checkbox-size-16 .agree-link {font-size:1.2rem;line-height:1.6rem}
.box-checkbox-size-16 .agree-link span {vertical-align:top;}
.box-checkbox-size-24 {min-height:2.4rem;min-width:2.4rem;}
.box-checkbox-size-24 label {padding-left:3.2rem;line-height:2.4rem;min-height:2.4rem;}
.box-checkbox-size-24 label:empty {padding-left:0;vertical-align:top;}
.box-checkbox-size-24 label:before {width:2.4rem;height:2.4rem;background-image:url("../images/common/checkbox-2.svg")}
.box-checkbox-size-24 input[type="checkbox"]:checked+label:before {background-image:url("../images/common/checkbox-2-on.svg")}
.box-checkbox-size-30 {min-height:3rem}
.box-checkbox-size-30 label {padding-left:3.8rem;line-height:3rem;color:#fff}
.box-checkbox-size-30 label:before {width:3rem;height:3rem;background-image:url("../images/common/checkbox-1.svg")}
.box-checkbox-size-30 input[type="checkbox"]:checked+label:before {background-image:url("../images/common/checkbox-1-on.svg")}
/* radio */
.form_element-radio {position:relative;min-height:2.4rem;line-height:2.4rem;display:inline-block}
.form_element-radio input[type="radio"] {position:absolute;opacity:0;left:0}
.form_element-radio label {display:block;position:relative;padding:0 0 0 3.2rem;line-height:2.4rem;font-size:1.6rem;color:#111;font-weight:400;}
.form_element-radio label:before {content:'';width:2.4rem;height:2.4rem;position:absolute;top:0;left:0;flex-shrink:0;;background-repeat:no-repeat;background-position:50% 50%;background-size:contain;background-image:url("../images/common/radio-off.svg")}
.form_element-radio input[type="radio"]:checked + label:before {background-image:url("../images/common/radio-on.svg")}
.form_element-radio.size-16 {min-height:1.6rem;line-height:1.6rem;}
.form_element-radio.size-16 label {line-height:1.6rem;font-size:1.2rem;padding-left:2.2rem;}
.form_element-radio.size-16 label:before {width:1.6rem;height:1.6rem;}

/* button */
.btn-wrap .btn-base{flex:1;}
.btn-wrap{display:flex;justify-content:center;gap:.8rem;align-items:center;}
.btn-base {display:flex;align-items:center;justify-content:center;transition:all .2s;text-decoration:none;}
.btn-size-32 {min-height:3.2rem;padding:0 1.2rem;font-size:1.2rem;line-height:2rem;gap:.8rem;}
.btn-size-34 {min-height:3.4rem;padding:0 1.2rem;font-size:1.4rem;line-height:2rem;gap:.8rem;}
.btn-size-36 {min-height:3.6rem;padding:0 1.2rem;font-size:1.4rem;font-weight:400;gap:.4rem;border-radius:.8rem;}
.btn-size-36-36 {height:3.6rem;width:3.6rem;border-radius:.8rem;}
.btn-size-40 {min-height:4rem;padding:0 2rem;font-size:1.6rem;line-height:2.4rem;}
.btn-size-58 {min-height:5.8rem;padding:0 2.4rem;border-radius:.8rem;font-size:2rem;line-height:3.6rem;letter-spacing:-.032rem}
.btn-size-56 {min-height:5.6rem;padding:0 4rem;font-size:2rem;line-height:3.6rem;gap:2rem;}
.btn-size-64 {min-height:6.4rem;padding:0 2.4rem;font-size:2rem;line-height:3.6rem;gap:2rem;border-radius:1.2rem;}
.btn-round {border-radius:9999em;}
.btn-color-blue {background-color:#5D5FEF;color:#fff;font-weight:700;}
.btn-color-blue:hover {background-color:#7879F1;box-shadow:0 .4rem .8rem 0 rgba(0, 0, 0, 0.25);}
.btn-color-gray {background-color:#F4F3F8;color:#6471F6;font-weight:700;}
.btn-color-gray:hover {background-color:#E3E2F2;box-shadow:0 .4rem .8rem 0 rgba(0, 0, 0, 0.25);}
.btn-color-dark {background-color:#3E3F4D;color:#ffffff;font-weight:500;white-space:nowrap;}
.btn-color-dark:hover {background-color:#8491D5;}
.btn-color-sky {background-color:#8491D5;color:#ffffff;font-weight:500;white-space:nowrap;}
.btn-color-sky:hover {background-color:#E7E6F1;color:#343434;}
.btn-color-depp-blue {background-color:#20334F;color:#ffffff;font-weight:500;}

.btn-line-sky {background-color:#fff;color:#6A7DDC;font-weight:700;border:1px solid #CCD4FF;}
.btn-line-sky:hover {font-weight:800;}
.btn-line-sora {background-color:#fff;color:#000;font-weight:600;border:1px solid #BDC3E3;}
.btn-line-sora:hover {font-weight:800;}
.btn-gradient-blue {background:linear-gradient(90deg, var(--Gradient-Sky) 0%, var(--Gradient-Sky-Blue) 86.1%);color:#fff;font-weight:700;box-shadow:.4rem .4rem 2rem 0 rgba(82, 62, 235, 0.13);}
.btn-gradient-blue:hover {background:linear-gradient(90deg, #6185F7 8.64%, #6185F7 86.1%);}
.btn-line-block {background-color:#fff;color:#343434;font-weight:500;border:1px solid #000;}
.btn-line-block:hover {background-color:#000;color:#fff;}
.btn-line-deep-block {border:1px solid #000;color:#000;}
.btn-line-dark {background-color:#fff;color:#343434;font-weight:500;border:1px solid #000;white-space:nowrap;}
.btn-line-dark:hover {border-color:#8491D5;color:#8491D5;}
.btn-size-40.btn-del{font-size:1.4rem;}
.btn-line-gradient {border:1px solid transparent;background-image:linear-gradient(#fff, #fff), linear-gradient(0deg, var(--Gradient-Blue) 0%, var(--Gradient-Purple) 100%);background-origin:border-box;background-clip:content-box,border-box;padding:0;}
.btn-line-gradient .btn-base-text {padding:0 2rem;}

.btn-size-56 .arrow-round {margin-right:-1.2rem;}
.arrow-round {width:2.8rem;height:2.8rem;display:flex;align-items:center;justify-content:center;border-radius:999rem;background-color:#fff;box-shadow:.2rem .3rem 1rem 0 rgba(0, 0, 0, 0.12);transition:all .2s;flex-shrink:0}
.icon-arrow-2 {aspect-ratio:9/14;width:.9rem;display:block;background:url("../images/common/icon-arrow-2.svg") 50% 50% no-repeat;}
.btn-base:hover .arrow-round {background-color:#313EC0;}
.btn-base:hover .icon-arrow-2 {background-image:url("../images/common/icon-arrow-2-hover.svg")}
@media (max-width:700px) {
    .btn-size-64 {min-height:5.6rem;font-size:1.6rem;}
    .btn-base[data-position="mobile-fix"] {position:fixed;bottom:0;left:0;right:0;border-radius:0 !important;}
}
/* footer */
[data-page="main"] .footer-wrap{border-top:0;}
.footer-wrap {padding-top:5.4rem;padding-bottom:8rem;border-top:1px solid #E3E2F2;}
.footer-group {display:flex;gap:5.6rem;}
.footer-logo {margin-top:.8rem;flex-shrink:0;font-family:'ASDNeo';font-size:3.2rem;font-weight:900;color:transparent;width:8.8rem;height:2.3rem;letter-spacing:-0.11rem;background-repeat:no-repeat;background-image:url("data:image/svg+xml,%3Csvg width='88' height='23' viewBox='0 0 88 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.064 17.9H8.208C11.216 17.9 12.688 16.396 12.688 11.884V10.796C12.688 6.22 10.992 4.908 8.048 4.908H6.064V17.9ZM0.0480001 22.156V0.651999H8.304C15.024 0.651999 19.024 3.5 19.024 10.892V11.628C19.024 18.892 15.024 22.156 8.336 22.156H0.0480001ZM21.9468 22.156V0.651999H30.0108L33.9148 13.612H34.0428L37.9468 0.651999H45.9148V22.156H39.9948V7.66H39.8668L35.5468 22.156H31.3548L27.0668 7.628H26.9068V22.156H21.9468ZM49.658 22.156V0.651999H64.506V4.972H55.61V9.068H62.554V13.292H55.61V17.836H64.794V22.156H49.658ZM66.712 22.156L73.08 11.084L67.192 0.651999H73.816L77.528 7.468H77.656L81.112 0.651999H87.032L81.208 10.924L87.48 22.156H80.856L76.824 14.828H76.696L72.632 22.156H66.712Z' fill='black'/%3E%3C/svg%3E%0A");line-height:1;text-decoration:none;background-size:8.8rem;}
.footer-copyright {flex:1;}
.footer-menu {display:flex;gap:2.8rem;}
.footer-menu-link {font-size:1.6rem;text-decoration:none;line-height:3.2rem;color:#040404;font-weight:500;}
.footer-address {margin-top:2rem;}
.footer-address-data {font-style:normal}
.footer-address-data-item {padding-right:2rem;position:relative;display:inline-block;font-size:1.6rem;line-height:3.2rem;font-weight:500;color:#040404;}
.footer-address-data-item:after {content:'';width:1px;height:1.2rem;background-color:#ccc;position:absolute;right:1rem;top:1.1rem;}
.footer-address-data-item:last-child:after {display:none;}
@media (max-width:700px) {
    .footer-wrap {padding-top:4.8rem;padding-bottom:7.2rem;}
    .footer-group {flex-direction:column;gap:3.2rem;}
    .footer-menu {gap:2.4rem;}
    .footer-menu-link {font-size:1.4rem;}
    .footer-address-data ~ .footer-address-data {margin-top:2.4rem;}
    .footer-address-data-item {line-height:2.4rem;font-size:1.4rem;}
    .footer-address-data-item {display:block;}
    .footer-address-data-item:after {display:none;}
}

main {position:relative;z-index:1;}

/* header */
.header {position:sticky;width:100%;height:15.2rem;z-index:11;top:-6rem;padding:0 1.6rem;backdrop-filter:blur(1.5rem);-webkit-backdrop-filter:blur(1.5rem);}
[data-page="main"] .header::before {background:linear-gradient(to left, #241C56CC, #040114, #241C56CC);opacity:.5;}
.header::before {content:"";display:block;position:absolute;width:100%;height:100%;top:0;left:0;background:linear-gradient(to right, #2B2A32, #3C395A 50%, #3C395A);}
.header-wrap {position:relative;max-width:128rem;margin:0 auto;z-index:1;}
.header-group {display:flex;justify-content:space-between;align-items:flex-start;}
.header-logo {
    font-family:'ASDNeo';
    font-size:3.2rem;
    font-weight:900;
    color:transparent;
    width:8.8rem;
    height:2.3rem;
    letter-spacing:-0.11rem;
    background-repeat:no-repeat;
    background-image:url("data:image/svg+xml,%3Csvg width='88' height='23' viewBox='0 0 88 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.064 17.9H8.208C11.216 17.9 12.688 16.396 12.688 11.884V10.796C12.688 6.22 10.992 4.908 8.048 4.908H6.064V17.9ZM0.0480001 22.156V0.651999H8.304C15.024 0.651999 19.024 3.5 19.024 10.892V11.628C19.024 18.892 15.024 22.156 8.336 22.156H0.0480001ZM21.9468 22.156V0.651999H30.0108L33.9148 13.612H34.0428L37.9468 0.651999H45.9148V22.156H39.9948V7.66H39.8668L35.5468 22.156H31.3548L27.0668 7.628H26.9068V22.156H21.9468ZM49.658 22.156V0.651999H64.506V4.972H55.61V9.068H62.554V13.292H55.61V17.836H64.794V22.156H49.658ZM66.712 22.156L73.08 11.084L67.192 0.651999H73.816L77.528 7.468H77.656L81.112 0.651999H87.032L81.208 10.924L87.48 22.156H80.856L76.824 14.828H76.696L72.632 22.156H66.712Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size:8.8rem;
    line-height:1;
    margin-top:2.9rem;
    text-decoration:none;
}
.header-util {display:flex;margin-top:calc(.8rem * 3);align-items:center;gap:2rem;}
.header-util-btn {font-size:1.6rem;font-weight:600;letter-spacing:-0.1rem;color:#fff;text-decoration:none;white-space:nowrap;}
.header-util-btn[data-icon="demo"].active,
.header-util-btn[data-icon="demo"]:hover,
.header-util-btn.active,
.header-util-btn:hover {color:#CCD4FF;}
.header-util-btn[data-icon="demo"] {color:var(--Typo-Point);display:flex;align-items:center;gap:1rem;font-weight:800;}
.header-util-btn[data-icon="demo"]::before {content:"";display:block;background:url(../images/header/ico_demo.svg) no-repeat 0 0 / 1.6rem;width:1.6rem;height:1.6rem;}
.header-util-btn[data-icon="demo"].active::before,
.header-util-btn[data-icon="demo"]:hover::before {background-image:url(../images/header/ico_demo_active.svg);}
.nav-dmex {width:100%;;display:flex;justify-content:space-between;align-items:center;margin-top:2.4rem;}
.nav-dmex-btn {font-size:2rem;font-weight:800;letter-spacing:-0.02rem;padding:0.8rem 0.4rem;color:#fff;text-decoration:none;white-space:nowrap;}
.nav-dmex-btn.active,
.nav-dmex-btn:hover {color:var(--Typo-Point);}
.nav-main {width:100%;padding-bottom:1rem;border-bottom:.1rem solid #E3E2F2;}
.nav-main-tit {width:100%;position:relative;padding:1.6rem 0 0.8rem;font-size:1.6rem;font-weight:700;border-bottom:.1rem solid #000;margin-bottom:1rem;}
.nav-main-list {display:flex;flex-direction:column;gap:1rem;}
.nav-main-item {display:flex;justify-content:space-between;align-items:center;}
.nav-main-txt{font-size:1.4rem;color:#000;font-weight:600;}
.nav-main-group {display:flex;align-items:center;gap:.8rem;}
.nav-main-list button[data-icon="plus"] {background:url(../images/common/ico-plus.svg) no-repeat 50% 50% / .8rem;}
.nav-main-list button {min-width:2.4rem;border:.1rem solid #949494;height:2.4rem;border-radius:.8rem;display:flex;justify-content:center;align-items:center;font-size:1.2rem;color:#000;padding:0 .8rem;}

/* button */
.btn-ghost {height:3.6rem;padding:.8rem 2.4rem;border:.1rem solid var(--Typo-Point);border-radius:1.8rem;color:var(--Typo-Point);display:flex;justify-content:center;align-items:center;font-size:1.6rem;font-weight:700;background-color:transparent;transition:all .2s ease-in;text-decoration:none;white-space:nowrap;}
.btn-ghost.active,
.btn-ghost:hover {background-color:var(--Typo-Point);color:#6471F6;}
.header-m-util {display:flex;gap:.4rem;width:100%;padding-bottom:1.2rem;}
.btn-util {height:2.8rem;padding:.4rem 1.6rem;border-radius:1.4rem;color:#fff;display:flex;justify-content:center;align-items:center;font-size:1.2rem;font-weight:400;background-color:#3E3F4D;transition:all .2s ease-in;text-decoration:none;white-space:nowrap;}
.btn-util[data-login="true"] {background-color:#8491D5;}
.btn-util[data-type="util"] {background-color:#F4F3F8;border:.1rem solid #E3E2F2;border-radius:.8rem;padding:.4rem .2rem;flex:1;color:#000;}
.btn-member {position:relative;display:flex;width:4rem;height:4rem;background:url(../images/header/ico_member.svg) no-repeat 50% 50% / 3rem;}
.btn-member.active,
.btn-member:hover {background-image:url(../images/header/ico_member_active.svg);background-size:3.8rem;background-position:calc(50% + .1rem) calc(50% + .1rem);}
.btn-nav {position:relative;display:flex;width:4rem;height:4rem;background:url(../images/header/ico_nav.svg) no-repeat 50% 50% / 2.6rem;}
.btn-nav.active,
.btn-nav:hover {background-image:url(../images/header/ico_nav_active.svg);background-size:3.4rem;background-position:calc(50% + .1rem) calc(50% + .1rem);}
.header-language {position:relative;width:12.2rem;min-height:3.6rem;}
.header-language-wrap {position:absolute;min-height:3.6rem;border:.1rem solid #fff;border-radius:1.8rem;background-color:transparent;text-decoration:none;white-space:nowrap;}
.header-language-btn {width:100%;font-size:1.2rem;font-weight:700;color:#fff;min-height:3.4rem;padding:0 1.6rem;display:flex;align-items:center;gap:.8rem;letter-spacing:0;}
.header-language-btn:hover {color:var(--Typo-Point);}
.header-language-btn:hover::after {background-image:url(../images/common/ico-lang-arrow-hover.svg);}
.header-language-btn::after {content:"";display:block;width:1rem;height:1rem;transform:translateY(.2rem);background:url(../images/common/ico-lang-arrow.svg) no-repeat 50% 50% / .6rem;}
.header-language-select {display:flex;flex-direction:column;height:0;overflow:hidden;width:100%;gap:.6rem;}
.header-language[data-toggle-state="true"] .header-language-select {height:7rem;padding-bottom:1.2rem;}
.header-language[data-toggle-state="true"] .header-language-wrap {background-color:#6656ac;border-radius:1.6rem;}
.header-language[data-toggle-state="true"] .header-language-btn::after {transform:rotate(-90deg);}
.header-language-select button {text-align:left;padding:0 1.6rem;font-size:1.2rem;font-weight:700;color:#fff;letter-spacing:0;}
.header-language-select button.active,
.header-language-select button:hover {color:var(--Typo-Point);}

.header-m {position:fixed;width:28.8rem;right:-28.8rem;top:0;height:100dvh;display:flex;justify-content:flex-end;transition:right .2s ease-in;}
[data-nav="open"] .header-m {right:0;}
[data-nav="open"] .header-m::after {content:"";display:block;position:fixed;top:0;left:0;width:100dvw;height:100dvh;background-color:#000;opacity:0.6;z-index:1;}
.header-m-wrap {position:relative;width:100%;background-color:#fff;top:0;right:0;height:100dvh;padding:2.4rem;transition-delay:.2s;z-index:2;}
.header-m-top {display:flex;justify-content:space-between;padding:0.8rem 0;align-items:center;}
.btn-nav-close {width:3rem;height:3rem;background:url(../images/common/ico-x.svg) no-repeat 50% 50% / 1.2rem;}
.btn-nav-close-w {width:3rem;height:3rem;background:url(../images/common/ico-x-w.svg) no-repeat 50% 50% / 1.2rem;}
.header-m .header-language{width:11rem;transform:translate(2rem, -0.5rem);}
.header-m .header-language[data-toggle-state="true"] .header-language-wrap{background-color:#fff;}

.header-m [data-toggle-state="true"] .header-language-wrap{ border-color:#E3E2F2;}
.header-m .header-language-btn,
.header-m .header-language-btn:hover,
.header-m .header-language-select button{color:#3E3F4D;}
.header-m .header-language-btn:hover::after {background-image:url(../images/common/ico-lang-arrow-b.svg);}
.header-m .header-language-btn::after {content:"";display:block;width:1rem;height:1rem;background:url(../images/common/ico-lang-arrow-b.svg) no-repeat 50% 50% / .6rem;}

/* nav mobile acco */
.header-m-scroll {overflow-y:auto;width:calc(100% + 1.8rem);height:calc(100dvh - 17.8rem);padding-right:1.8rem;padding-bottom:4rem;}
.header-m-scroll .mdl-acco {margin-top:1.8rem;display:flex;flex-direction:column;gap:.4rem;}
.header-m-scroll .mdl-acco-head {min-height:2.8rem;}
.header-m-scroll a.mdl-acco-btn,
.header-m-scroll .mdl-acco-tit {font-size:1.4rem;font-weight:600;color:#000;}
.header-m-scroll .mdl-acco a.mdl-acco-btn {display:flex;align-items:center;color:#000;text-decoration:none;width:100%;}
.header-m-scroll .mdl-acco a.mdl-acco-btn::after {background:none;}
.header-m-scroll .mdl-acco-wrap a {color:#000;text-decoration:none;}
.header-m-scroll .mdl-acco-btn::after {width:1.2rem;height:.6rem;background:url(../images/common/ico-acco-arrow.svg) no-repeat 50% 50% / 1.2rem;}
.header-m-scroll .mdl-acco-wrap {padding:1rem 0;}
.header-m-scroll .mdl-acco-wrap .box {padding:1.4rem;border:.1rem solid #E3E2F2;border-radius:.8rem;display:flex;flex-direction:column;gap:.2rem;}
.header-m-link {display:flex;flex-direction:column;gap:1rem;margin-top:3rem;}
.header-m-link a {font-size:1.4rem;font-weight:300;color:#000;text-decoration:none;}
[data-m="hide"] {display:inherit;}
[data-m="show"] {display:none;}

@media (max-width:1280px) {
    body .header-util-btn{font-size:1.4rem;}
    body .nav-dmex-btn{font-size:1.6rem;}
    body .btn-ghost{font-size:1.4rem;}
}
@media (max-width:800px) {
    .only-d{display:none;}
}
@media (max-width:1024px) {
    .header{top:0;}
    [data-m="hide"] {display:none;}
    [data-m="show"] {display:inherit;}
    .header {height:7.2rem;display:flex;align-items:center;justify-content:space-between;}
    .header-wrap {width:100%;}
    .header-group {align-items:center;}
    .header-logo {margin-top:0;}
    .header-util {margin-top:0;}
}

@media (max-width:389px) {
    html {font-size:2.57vw !important;}
    .header-logo {width:9.1rem;height:2.4rem;}
}

[data-top="false"] .floating {opacity:1;pointer-events:initial;transform:translateY(0);}
.floating {opacity:0;pointer-events:none;position:fixed;bottom:4rem;right:2rem;display:flex;flex-direction:column;gap:1.4rem;justify-content:center;align-items:center;z-index:10;transition:all .2s ease-in;transform:translateY(4rem);}
.floating-chatbot {width:8.9rem;height:14.6rem;border-radius:6rem;display:flex;flex-direction:column;justify-content:center;align-items:center;gap:1.8rem;background-color:#FFF0D3;color:#000;font-size:1.2rem;font-weight:600;transition:all .2s ease;}
.floating-chatbot::before {content:"";display:block;width:5.2rem;height:4.5rem;background:url(../images/common/chatbot.png) no-repeat 50% 50% / 5.2rem;}
.floating-chatbot:hover,
.floating-chatbot.active {background-color:#6471F6;color:#fff;}

.floating-top {width:3.2rem;display:flex;flex-direction:column;justify-content:center;align-items:center;gap:.3rem;color:#000;font-size:1.2rem;font-weight:500;transition:all .2s ease;}
.floating-top::before {content:"";display:block;width:3.2rem;height:3.2rem;background:url(../images/common/ico-top.svg) no-repeat 50% 50% / 3.2rem;}
.floating-top:hover,
.floating-top.active {font-weight:700;color:#6471F6;}
.floating-top:hover::before,
.floating-top.active::before {background-image:url(../images/common/ico-top-hover.svg);}
@media (max-width:700px) {
    .floating {right:-.6rem;bottom:7rem;}
    .floating-chatbot {gap:.4rem;width:8rem;height:8rem;border-radius:2rem 0 0 2rem;}
    .floating-chatbot:hover,
    .floating-chatbot.active {border-radius:4.8rem;transform:translateX(-1.2rem);}
    .floating-chatbot::before {background-size:4rem}
}

/* paging */
.pagination {display:flex;justify-content:center;align-items:center;margin:6.4rem auto 0;gap:.8rem;}
.paging-move,
.paging-num {display:flex;justify-content:center;align-items:center;min-width:2.8rem;height:2.8rem;font-size:1.6rem;color:#000;text-decoration:none;font-weight:400;}
.paging-num[data-selected="true"] {font-weight:700;}
.paging-move {border:.1rem solid #ccc;border-radius:.8rem;}
.paging-move[data-page="first"] {background:url('../images/common/paging-first.svg') no-repeat 50% 50% / 1.2rem;}
.paging-move[data-page="last"] {background:url('../images/common/paging-first.svg') no-repeat 50% 50% / 1.2rem;transform:rotate(180deg);}
.paging-move[data-page="prev"] {background:url('../images/common/paging-prev.svg') no-repeat 50% 50% / 1.2rem;}
.paging-move[data-page="next"] {background:url('../images/common/paging-prev.svg') no-repeat 50% 50% / 1.2rem;transform:rotate(180deg);}
.paging-move:hover {border-color:#3E3F4D;background-color:#3E3F4D;}
.paging-move:hover[data-page="first"],
.paging-move:hover[data-page="last"] {background-image:url('../images/common/paging-first-hover.svg')}
.paging-move:hover[data-page="prev"],
.paging-move:hover[data-page="next"] {background-image:url('../images/common/paging-prev-hover.svg')}
@media (max-width:700px) {
    .pagination {margin-top:3.2rem;}
    .paging-num {font-size:1.4rem;}
}

/* chatbot */
.mdl-layer.chatbot .mdl-layer-header {border-top-left-radius:3.2rem;border-top-right-radius:3.2rem;background-color:#5D5FEF;color:#fff;display:flex;padding:0 4rem;height:9.6rem;align-items:center;gap:3.2rem;}
.mdl-layer.chatbot .mdl-layer-header h1 {width:9rem;margin-top:0;}
.mdl-layer.chatbot .mdl-layer-header p {font-size:1.6rem;font-weight:600;line-height:1.3;}
.mdl-layer.chatbot .mdl-layer-footer {background-color:#F9F9FF;height:auto;border-top:.1rem solid #E3E2F2;padding:1.6rem 1.8rem 2rem 2.8rem;gap:1.2rem}
.mdl-layer.chatbot .mdl-layer-footer input {border:0;background-color:transparent;outline:0;font-size:1.8rem;width:calc(100% - 5.6rem);}
.mdl-layer.chatbot .mdl-layer-body {padding:2.8rem;display:flex;flex-direction:column;gap:3.4rem;max-height:calc(100vh - 30rem);}

.mdl-layer.chatbot .mdl-layer-body::-webkit-scrollbar {position:absolute;width:1.2rem;height:1.2rem;background-color:transparent;}
.mdl-layer.chatbot .mdl-layer-body::-webkit-scrollbar-track {background-color:transparent;}
.mdl-layer.chatbot .mdl-layer-body::-webkit-scrollbar-thumb {background-color:rgba(0, 0, 0, 0.2);border-radius:.8rem;background-clip:padding-box;border:.3rem solid transparent;}
.mdl-layer.chatbot .mdl-layer-body::-webkit-scrollbar-corner {background-color:transparent;}

.mdl-layer.chatbot .btn-chat {max-width:4.4rem;max-height:4.4rem;min-width:4.4rem;min-height:4.4rem;background:#111 url(../images/common/btn-chat.svg) no-repeat 50% 50% / 2.4rem;padding:2.4rem;border-radius:50%;}
.chat-balloon {padding:1.2rem 1.6rem;border:.1rem solid #E3E2F2;border-radius:1.6rem;font-size:1.6rem;position:relative;}
.chat-date {margin-top:.8rem;padding-left:0.8rem;font-size:1.2rem;color:#000;}
.chat-user .chat-balloon {background:#EAEEFF;font-weight:600;border:0;}
.chat-bot .chat-balloon::before {content:"";display:block;width:2.6rem;height:1.6rem;background:url(../images/common/chat-tail-bot.svg) no-repeat 0 0 / 2.6rem;position:absolute;top:-0.1rem;left:-1.1rem;}
.chat-user .chat-balloon::before {content:"";display:block;width:2.6rem;height:1.6rem;background:url(../images/common/chat-tail-user.svg) no-repeat 0 0 / 2.6rem;position:absolute;top:-0.1rem;right:-1.1rem;}
.chat-bot {padding-left:8.6rem;position:relative;}
.chat-bot::before {content:"";display:block;width:5.6rem;height:5.6rem;border-radius:50%;background:#F4F3F8 url(../images/common/chatbot.png) no-repeat 50% 50% / 4rem;position:absolute;left:0;top:-.6rem;}


[data-flex-align="right"]{justify-content:flex-end;}
[data-flex-align="center"]{justify-content:center;}
[data-flex-align="right"]{justify-content:flex-start;}
[data-flex-align="between"]{justify-content:space-between;}






